body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #87CEEB
}
h1{
  text-align: center;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container>input{
  height: 30px;
  width: 450px;
  font-size: 1.5rem;
  border-color: #222;
  border-bottom: #222;
  -webkit-appearance: none;
  -ms-appearance:none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  outline: none;
  border-radius: 15px;
  padding: 12px;


}
input:focus::placeholder{
  color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input:focus::placeholder{
  color: #222;
  transition: color 0.3s ease;
}

.input-container>button{
  height: 50px;
  width:  70px;
  border-radius: 15px;
  margin-top: 1.5rem;
  background-color: rgb(92, 151, 233)
  
} 

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
}
.todo{
  display: flex;
  width: 500px;
  background-color:azure;
  border-radius: 10px;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0px 5px;
  align-items: center;
}
.action>button{
 background-color: red;
 color: whitesmoke;
 height: 30px;
 width: 75px;
 border-radius: 10px;
 font-size: 1.15rem;
}
